<form [formGroup]="cadastro" (ngSubmit)="onSubmit()">
  <div>

  <label for="nome">Nome</label>
  <input type="text" id="nome" formControlName="nome">

</div>


<div>
  <label for="email">E-mail</label>
  <input type="email" id="email" formControlName="email">
</div>

<div>

  <label for="idade">Idade</label>
  <input type="number" id="idade" formControlName="idade">

</div>

<div>

  <label for="escolaridade">Escolaridade</label>
  <input type="text" id="escolaridade" formControlName="escolaridade">

</div>

<div>

  <label for="salario">Salario</label>
  <input type="number" id="salario" formControlName="salario">

</div>
  

  <button type="submit">Enviar</button>
</form>